.parking-card {
    margin: 0.5em;
    max-width: 400px;
    min-width: 350px;
}

mat-card-footer {
    float: right;
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
}

.parking-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}